# 1. Variable Swap:  swap the values of two variables without using a temporary variable.

In [1]:

a = float(input("enter the number 1:"))
b =float (input("enter the number 2:"))


#Swapping values
a, b = b, a

print("number 1 is :", a)
print("number 2 is :", b)

enter the number 1: 29.3
enter the number 2: 920.5

number 1 is : 920.5
number 2 is : 29.3

# 2. Even or Odd:  takes an integer as input and prints whether it is even or odd.

In [2]:

num = int(input("Enter a number: "))

if (num % 2) == 0:
    print(f"{num} is Even")
else:
    print(f"{num} is Odd")

Enter a number:  59392

59392 is Even

# 3.String Reverse: function to reverse a given string and return the reversed string.

In [3]:

def reverse_string(s):
    return s[::-1]

original_string = input("enter any message:")
reversed_string = reverse_string(original_string)
print("Original String:", original_string)
print("Reversed String:", reversed_string)

enter any message: Do you want to data scientist ? follow my github repository!

Original String: Do you want to data scientist ? follow my github repository!
Reversed String: !yrotisoper buhtig ym wollof ? tsitneics atad ot tnaw uoy oD

# 4. Type Conversion: Given a list of integers,  to convert each element of the list to a string.

In [4]:

int_list = [1, 2, 3, 4, 5]

str_list = [str(i) for i in int_list]

print("List of strings:", str_list)

List of strings: ['1', '2', '3', '4', '5']

# 5. Temperature Converter:  converts a temperature in Celsius to Fahrenheit. Take the Celsius temperature as input from the user.

In [5]:

celsius = float(input("Enter temperature in Celsius: "))

fahrenheit = (celsius * 9/5) + 32

print(f"{celsius}°C is equal to {fahrenheit}°F")

Enter temperature in Celsius:  35

35.0°C is equal to 95.0°F

# 6. Data Type Checker:  takes a variable as input and returns the data type of the variable as a string (e.g., “int”, “float”, “str”, “list”, etc.).

In [6]:

def get_data_type(variable):
    return type(variable).__name__


print(get_data_type(10))          
print(get_data_type(10.5))        
print(get_data_type("Hello"))     
print(get_data_type([1, 2, 3]))  
print(get_data_type((1, 2, 3)))  
print(get_data_type({"a": 1}))

int
float
str
list
tuple
dict

# 7.  String Palindrome: function to check if a given string is a palindrome or not.

In [60]:
def is_palindrome(s):
    
    cleaned_string = ''.join(char.lower() for char in s if char.isalnum())
    
    return cleaned_string == cleaned_string[::-1]

string = input('Give any message:')
print(is_palindrome(string))

Give any message: hei

False

# 8.String Reversal with Slicing:  function to reverse a given string using slicing.

In [9]:
def reverse_string(s):
  
    return s[::-1]


string = input('enter any message:')
print(reverse_string(string))

enter any message: Don't have you any work??

??krow yna uoy evah t'noD

# 9. String Concatenation:  takes two strings as input and concatenates them into a single string without using the `+` operator.

In [11]:

def concatenate_strings(str1, str2):
    join =str1+str2

string1 = input("Give any message")
string2 = input("Give more message")

result = concatenate_strings(string1, string2)

print(result)

Give any message you should concentration in your work
Give more message If  you don't you will fail in present and afterr life both

you should concentration in your work If  you don't you will fail in present and afterr life both

# 10. Typecasting Challenge: Given three variables: `a = ‘100’`, `b = 25`, and `c = ‘10.5’`,  to perform the following operations and print the results: – Convert `a` to an integer and add it to `b`. – Convert `c` to a float and subtract it from the result of the first operation. – Convert the final result to a string and concatenate it with the string ” is the answer.”

In [12]:

a = '100'
b = 25
c = '10.5'

# Convert 'a' to an integer and add it to 'b'
result1 = int(a) + b

# Convert 'c' to a float and subtract it from the result of the first operation
result2 = result1 - float(c)

# Convert the final result to a string and concatenate it with the string " is the answer."
final_result = str(result2) + " is the answer."

print(final_result)

114.5 is the answer.

# 11. Positive, Negative, or Zero: takes a number as input and prints whether it is positive, negative, or zero.

In [13]:

def check_number(num):
    if num > 0:
        print("Positive")
    elif num < 0:
        print("Negative")
    else:
        print("Zero")

number = float(input("Enter a number: "))

check_number(number)

Enter a number:  -593

Negative

# 12. Largest of Three Numbers: takes three numbers as input and prints the largest among them.

In [14]:

def find_largest(num1, num2, num3):
    if num1 >= num2 and num1 >= num3:
        return num1
    elif num2 >= num1 and num2 >= num3:
        return num2
    else:
        return num3

number1 = float(input("Enter the first number: "))
number2 = float(input("Enter the second number: "))
number3 = float(input("Enter the third number: "))

largest = find_largest(number1, number2, number3)
print(f"The largest number is {largest}")

Enter the first number:  93.5
Enter the second number:  20.3
Enter the third number:  1050

The largest number is 1050.0

# 13. Leap Year Checker:  takes a year as input and determines if it is a leap year or not.

In [15]:
def is_leap_year(year):
    
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False


year = int(input("Enter a year: "))


if is_leap_year(year):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year:  2048

2048 is a leap year.

# 14. Grades Classification:  takes a student’s percentage as input and prints their corresponding grade according to the following criteria: – 90% or above: A+ – 80-89%: A – 70-79%: B – 60-69%: C – Below 60%: Fail

In [18]:
 
def classify_grade(percentage):
    if percentage >= 90:
        return "A+"
    elif percentage >= 80:
        return "A"
    elif percentage >= 70:
        return "B"
    elif percentage >= 60:
        return "C"
    else:
        return "Fail"

percentage = float(input("Enter the student's percentage: "))
grade = classify_grade(percentage)
print(f"The grade is: {grade}")

Enter the student's percentage:  85

The grade is: A

# 15.  Vowel or Consonant:  takes a single character as input and determines whether it is a vowel or a consonant.

In [59]:

def check_vowel_or_consonant(char):

    char = char.lower()
 
    if char in 'aeiou':
        return "Vowel"
    else:
        return "Consonant"


character = input("Enter a single character: ")

if character.isalpha() and len(character) == 1:
    result = check_vowel_or_consonant(character)
    print(f"The character '{character}' is a {result}.")
else:
    print("Please enter a valid single alphabetic character.")

Enter a single character:  i

The character 'i' is a Vowel.

# 16. Time Classification:  takes the time in hours (24-hour format) as input and prints “Good Morning”, “Good Afternoon”, “Good Evening”, or “Good Night” based on the time.

In [20]:

def classify_time(hour):
    if 5 <= hour < 12:
        return "Good Morning"
    elif 12 <= hour < 17:
        return "Good Afternoon"
    elif 17 <= hour < 21:
        return "Good Evening"
    else:
        return "Good Night"


try:
    hour = int(input("Enter the time in hours (0-23): "))
    if 0 <= hour <= 23:
        greeting = classify_time(hour)
        print(greeting)
    else:
        print("Please enter a valid hour between 0 and 23.")
except ValueError:
    print("Please enter a valid integer.")

Enter the time in hours (0-23):  23

Good Night

# 17. Triangle Type Checker:  takes three sides of a triangle as input and determines whether it forms an equilateral, isosceles, or scalene triangle.

In [21]:

def determine_triangle_type(a, b, c):
    
    if a + b > c and b + c > a and c + a > b:
        if a == b == c:
            return "Equilateral"
        elif a == b or b == c or c == a:
            return "Isosceles"
        else:
            return "Scalene"
    else:
        return "Not a valid triangle"

side1 = float(input("Enter the length of the first side: "))
side2 = float(input("Enter the length of the second side: "))
side3 = float(input("Enter the length of the third side: "))

triangle_type = determine_triangle_type(side1, side2, side3)
print(f"The triangle is {triangle_type}.")

Enter the length of the first side:  5
Enter the length of the second side:  7
Enter the length of the third side:  29

The triangle is Not a valid triangle.

# 18. Quadratic Equation Solver:  takes the coefficients (a, b, c) of a quadratic equation as input and calculates and prints the real roots (if they exist) or a message indicating the complex roots.

In [22]:
import cmath

def solve_quadratic(a, b, c):
    
    discriminant = b**2 - 4*a*c
    
    root1 = (-b - cmath.sqrt(discriminant)) / (2*a)
    root2 = (-b + cmath.sqrt(discriminant)) / (2*a)
    
    return root1, root2

a = float(input("Enter the coefficient a: "))
b = float(input("Enter the coefficient b: "))
c = float(input("Enter the coefficient c: "))

root1, root2 = solve_quadratic(a, b, c)

print(f"The solutions are {root1} and {root2}")

Enter the coefficient a:  3
Enter the coefficient b:  5
Enter the coefficient c:  7

The solutions are (-0.8333333333333334-1.2801909579781012j) and (-0.8333333333333334+1.2801909579781012j)

# 19. Number Ranges:  takes an integer as input and prints whether the number falls within the ranges: 0-50, 51-100, 101-150, or above 150.

In [23]:
def classify_number_range(num):
    if 0 <= num <= 50:
        return "The number falls within the range 0-50."
    elif 51 <= num <= 100:
        return "The number falls within the range 51-100."
    elif 101 <= num <= 150:
        return "The number falls within the range 101-150."
    elif num > 150:
        return "The number is above 150."
    else:
        return "The number is below 0."


try:
    number = int(input("Enter an integer: "))
    result = classify_number_range(number)
    print(result)
except ValueError:
    print("Please enter a valid integer.")

Enter an integer:  89

The number falls within the range 51-100.

# 20. Sum of N Numbers: using a for loop to calculate the sum of the first N natural numbers, where N is taken as input from the user.

In [24]:
def sum_of_n_numbers(n):
    total_sum = 0
    for i in range(1, n + 1):
        total_sum += i
    return total_sum


try:
    N = int(input("Enter a natural number: "))
    if N > 0:
        result = sum_of_n_numbers(N)
        print(f"The sum of the first {N} natural numbers is: {result}")
    else:
        print("Please enter a positive integer.")
except ValueError:
    print("Please enter a valid integer.")

Enter a natural number:  50

The sum of the first 50 natural numbers is: 1275

# 21. Factorial Calculator:  using a while loop to calculate the factorial of a given number N.

In [25]:
def factorial(n):
    result = 1
    while n > 0:
        result *= n
        n -= 1
    return result


try:
    N = int(input("Enter a non-negative integer: "))
    if N >= 0:
        print(f"The factorial of {N} is {factorial(N)}")
    else:
        print("Please enter a non-negative integer.")
except ValueError:
    print("Please enter a valid integer.")

Enter a non-negative integer:  5

The factorial of 5 is 120

# 22. Table of a Number:  using a for loop to print the multiplication table of a given number N.

In [1]:
# Function to print the multiplication table of a given number N
def print_multiplication_table(N):
    for i in range(1, 11):
        print(f"{N} x {i} = {N * i}")

N = int(input("Enter a number: "))
print_multiplication_table(N)

Enter a number:  3

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

# 23. Count Digits in a Number:  using a while loop to count the number of digits in a given integer N.

In [2]:
# Function to count the number of digits in a given number N
def count_digits(N):
    count = 0
    while N != 0:
        N //= 10
        count += 1
    return count

N = int(input("Enter a number: "))
print(f"Number of digits: {count_digits(N)}")

Enter a number:  2347883

Number of digits: 7

# 24. Fibonacci Sequence: using a for loop to generate the Fibonacci sequence up to a given limit N.

In [3]:
# Function to generate the Fibonacci sequence up to a given limit N
def fibonacci_sequence(N):
    a, b = 0, 1
    for _ in range(N):
        print(a, end=" ")
        a, b = b, a + b


N = int(input("Enter the limit: "))
fibonacci_sequence(N)

Enter the limit:  10

0 1 1 2 3 5 8 13 21 34

# 25.  Sum of Even Numbers: using a while loop to calculate the sum of all even numbers between 1 and N, where N is taken as input from the user.

In [ ]:
# Function to calculate the sum of all even numbers between 1 and N
def sum_of_even_numbers(N):
    sum_even = 0
    num = 1
    while num <= N:
        if num % 2 == 0:
            sum_even += num
        num += 1
    return sum_even


N = int(input("Enter a number: "))
print(f"Sum of even numbers between 1 and {N} is: {sum_of_even_numbers(N)}")

# 26.  Print Patterns:  using nested for loops to print various patterns, such as a right-angled triangle, an inverted right-angled triangle, and so on.

In [1]:
# Right-Angled Triangle

rows = int(input("Enter the number of rows: "))
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print("*", end=" ")
    print()

Enter the number of rows:  5

*
* *
* * *
* * * *
* * * * *

In [2]:
# Inverted Right-Angled Triangle

rows = int(input("Enter the number of rows: "))
for i in range(rows, 0, -1):
    for j in range(1, i + 1):
        print("*", end=" ")
    print()

Enter the number of rows:  7

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [3]:
# Pyramid Pattern
rows = int(input("Enter the number of rows: "))
for i in range(1, rows + 1):
    for j in range(rows - i):
        print(" ", end=" ")
    for k in range(2 * i - 1):
        print("*", end=" ")
    print()

Enter the number of rows:  8

              *
            * * *
          * * * * *
        * * * * * * *
      * * * * * * * * *
    * * * * * * * * * * *
  * * * * * * * * * * * * *
* * * * * * * * * * * * * * *

In [4]:
# Diamond Pattern

rows = int(input("Enter the number of rows: "))
# Upper part
for i in range(1, rows + 1):
    for j in range(rows - i):
        print(" ", end=" ")
    for k in range(2 * i - 1):
        print("*", end=" ")
    print()
# Lower part
for i in range(rows - 1, 0, -1):
    for j in range(rows - i):
        print(" ", end=" ")
    for k in range(2 * i - 1):
        print("*", end=" ")
    print()

Enter the number of rows:  9

                *
              * * *
            * * * * *
          * * * * * * *
        * * * * * * * * *
      * * * * * * * * * * *
    * * * * * * * * * * * * *
  * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * *
    * * * * * * * * * * * * *
      * * * * * * * * * * *
        * * * * * * * * *
          * * * * * * *
            * * * * *
              * * *
                *

# 27.  Prime Number Checker:  using a while loop to check if a given number N is prime or not.

In [8]:

def is_prime(n):
    if n <= 1:
        return False
    i = 2
    while i * i <= n:
        if n % i == 0:
            return False
        i += 1
    return True

number = int(input("Enter a number: "))


if is_prime(number):
    print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

Enter a number:  33

33 is not a prime number.

# 28. List Manipulation: Given a list of integers,  using a for loop to find the sum, average, maximum, and minimum values in the list.

In [9]:

def list_manipulation(lst):
    total_sum = 0
    max_value = lst[0]
    min_value = lst[0]
    
    for num in lst:
        total_sum += num
        if num > max_value:
            max_value = num
        if num < min_value:
            min_value = num
    
    average = total_sum / len(lst)
    
    return total_sum, average, max_value, min_value


numbers = [15, 9, 55, 41, 35, 20, 62, 49]


total_sum, average, max_value, min_value = list_manipulation(numbers)
print(f"Sum: {total_sum}")
print(f"Average: {average}")
print(f"Maximum: {max_value}")
print(f"Minimum: {min_value}")

Sum: 286
Average: 35.75
Maximum: 62
Minimum: 9

# 29. Reverse String:  using a while loop to reverse a given string.

In [10]:

def reverse_string(s):
    reversed_str = ""
    index = len(s) - 1
    
    while index >= 0:
        reversed_str += s[index]
        index -= 1
    
    return reversed_str


string = input("Enter a string: ")


reversed_string = reverse_string(string)
print(f"The reversed string is: {reversed_string}")

Enter a string:  hie

The reversed string is: eih

# 30.  Multiplication Table: using nested loops to print the multiplication table from 1 to 10.

In [11]:
# Function to print multiplication tables from 1 to 10
def print_multiplication_tables():
    for i in range(1, 11):
        print(f"\nMultiplication Table for {i}")
        for j in range(1, 11):
            print(f"{i} x {j} = {i * j}")

print_multiplication_tables()

Multiplication Table for 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Multiplication Table for 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Multiplication Table for 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Multiplication Table for 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Multiplication Table for 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Multiplication Table for 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Multiplication Table for 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Multiplication Table for 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Multiplication Table for 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Multiplication Table for 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

# 31. Print Patterns:  using nested loops to print the following pattern:
*
**
***
****
*****

In [12]:
# Function to print the pattern
def print_pattern(rows):
    for i in range(1, rows + 1):
        for j in range(i):
            print("*", end="")
        print()


rows = 5

print_pattern(rows)

*
**
***
****
*****

# 32. Matrix Multiplication: using nested loops to multiply two matrices.

In [1]:

def matrix_multiply(A, B):
    
    rows_A = len(A)
    cols_A = len(A[0])
    rows_B = len(B)
    cols_B = len(B[0])

  
    if cols_A != rows_B:
        raise ValueError("Number of columns in A must be equal to number of rows in B")

    result = [[0 for _ in range(cols_B)] for _ in range(rows_A)]

    for i in range(rows_A):
        for j in range(cols_B):
            for k in range(cols_A):
                result[i][j] += A[i][k] * B[k][j]

    return result

A = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

B = [
    [9, 8, 7],
    [6, 5, 4],
    [3, 2, 1]
]

result = matrix_multiply(A, B)

for row in result:
    print(row)

[30, 24, 18]
[84, 69, 54]
[138, 114, 90]

# 33. Chessboard Pattern:  using nested loops to print a chessboard pattern (alternating “X” and “O” characters) of size 8×8.34. Number Pyramid: using nested loops to print a number pyramid like the following: 1 22 333 4444 55555

In [2]:
# Function to print an 8x8 chessboard pattern
def print_chessboard():
    size = 8
    for i in range(size):
        for j in range(size):
            if (i + j) % 2 == 0:
                print("X", end=" ")
            else:
                print("O", end=" ")
        print()


print_chessboard()

X O X O X O X O
O X O X O X O X
X O X O X O X O
O X O X O X O X
X O X O X O X O
O X O X O X O X
X O X O X O X O
O X O X O X O X

In [3]:
# Function to print a number pyramid
def print_number_pyramid(rows):
    for i in range(1, rows + 1):
        print(str(i) * i)

print_number_pyramid(5)

1
22
333
4444
55555

# 34. List Sum: to find the sum of all elements in a given list of integers.

In [4]:

def sum_of_list(lst):
    total = 0
    for num in lst:
        total += num
    return total


numbers = [1, 2, 3, 4, 5]

result = sum_of_list(numbers)

print("Sum of all elements in the list:", result)

Sum of all elements in the list: 15

# 35. List Average: calculate the average of all elements in a given list of integers.

In [5]:

def calculate_average(lst):
    if not lst:
        return 0  
    total = sum(lst)
    count = len(lst)
    average = total / count
    return average

numbers = [1, 2, 3, 4, 5]

result = calculate_average(numbers)

print("Average of all elements in the list:", result)

Average of all elements in the list: 3.0

# 36. List Max and Min: to find the maximum and minimum values in a given list of integers.

In [6]:
def find_max_min(lst):
    if not lst:
        return None, None  
    max_val = lst[0]
    min_val = lst[0]
    for num in lst:
        if num > max_val:
            max_val = num
        if num < min_val:
            min_val = num
    return max_val, min_val

numbers = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]

max_value, min_value = find_max_min(numbers)

print("Maximum value in the list:", max_value)
print("Minimum value in the list:", min_value)

Maximum value in the list: 9
Minimum value in the list: 1

# 37.List Sorting:  sort a list of integers in ascending order.

In [7]:
def sort_list(lst):
    lst.sort()
    return lst

numbers = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]

sorted_numbers = sort_list(numbers)

print("Sorted list in ascending order:", sorted_numbers)

Sorted list in ascending order: [1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]

# 38. List Filtering: Given a list of integers,  create a new list that contains only the even numbers from the original list.

In [8]:

def filter_even_numbers(lst):
    even_numbers = [num for num in lst if num % 2 == 0]
    return even_numbers

numbers = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]

even_numbers = filter_even_numbers(numbers)

print("Even numbers in the list:", even_numbers)

Even numbers in the list: [4, 2, 6]

# 39. List Reversal:  reverse a given list without using any built-in functions.

In [9]:

def reverse_list(lst):
    
    reversed_lst = []
   
    for i in range(len(lst) - 1, -1, -1):
        reversed_lst.append(lst[i])
    return reversed_lst


numbers = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]

reversed_numbers = reverse_list(numbers)


print("Reversed list:", reversed_numbers)

Reversed list: [5, 3, 5, 6, 2, 9, 5, 1, 4, 1, 3]

# 40.  List Manipulation: Given two lists of integers,   create a new list that contains elements common to both lists.

In [10]:

def find_common_elements(list1, list2):
    common_elements = [element for element in list1 if element in list2]
    return common_elements


list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]


common_elements = find_common_elements(list1, list2)

print("Common elements:", common_elements)

Common elements: [4, 5]

# 41. List Element Count:  count the occurrences of a specific element in a given list.

In [11]:

def count_occurrences(lst, element):
    count = 0
    for item in lst:
        if item == element:
            count += 1
    return count


numbers = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
element_to_count = 5


occurrences = count_occurrences(numbers, element_to_count)


print(f"The element {element_to_count} occurs {occurrences} times in the list.")

The element 5 occurs 3 times in the list.

# 42. List Duplicates Removal: remove duplicates from a given list while preserving the order of the elements.

In [12]:

def remove_duplicates(lst):
    seen = set()
    unique_list = []
    for item in lst:
        if item not in seen:
            unique_list.append(item)
            seen.add(item)
    return unique_list


numbers = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]

unique_numbers = remove_duplicates(numbers)

print("List after removing duplicates:", unique_numbers)

List after removing duplicates: [3, 1, 4, 5, 9, 2, 6]

# 43. List Comprehension: Given a list of integers,  create a new list that contains the squares of the elements using list comprehension.

In [58]:

def square_elements(lst):
    return [x**2 for x in lst]

numbers = [1, 2, 3, 4, 5]

squared_numbers = square_elements(numbers)

print("List of squares:", squared_numbers)

List of squares: [1, 4, 9, 16, 25]

# 44. Matrix Addition: add two matrices represented as nested lists.

In [14]:

def add_matrices(A, B):
    
    rows = len(A)
    cols = len(A[0])

    result = [[0 for _ in range(cols)] for _ in range(rows)]

    
    for i in range(rows):
        for j in range(cols):
            result[i][j] = A[i][j] + B[i][j]

    return result

A = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

B = [
    [9, 8, 7],
    [6, 5, 4],
    [3, 2, 1]
]


result = add_matrices(A, B)

for row in result:
    print(row)

[10, 10, 10]
[10, 10, 10]
[10, 10, 10]

# 45. Flatten Nested List:  flatten a given nested list and convert it into a single-dimensional list.

In [15]:
nested_list = [[1], [2, 3], [4, 5, 6, 7]]
flat_list = [num for sublist in nested_list for num in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

# 46. List Element Frequency: Given a nested list containing lists of integers,  count the frequency of each element in the entire nested list.

In [16]:
from itertools import chain
from collections import Counter

def count_frequency(nested_list):
    
    flat_list = list(chain(*nested_list))
    frequency = Counter(flat_list)
    return frequency

nested_list = [[1, 2, 2], [3, 4, 4, 4], [5, 6, 6, 6, 6]]
print(count_frequency(nested_list))

Counter({6: 4, 4: 3, 2: 2, 1: 1, 3: 1, 5: 1})

# 47. Transpose Matrix:  transpose a given matrix represented as a nested list.

In [17]:
def transpose(matrix):
    return [[row[i] for row in matrix] for i in range(len(matrix[0]))]

matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(transpose(matrix))

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

# 48. List of Lists Concatenation: Given a list of nested lists,  concatenate all the sublists into a single flat list.

In [18]:
nested_list = [[1, 2], [3, 4, 5], [6, 7, 8, 9]]
flat_list = [item for sublist in nested_list for item in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# 49. Tuple Concatenation:  concatenate two tuples and create a new tuple.

In [20]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

# 50. Tuple Unpacking: Given a tuple with three elements (x, y, z),  unpack the tuple and assign the values to three variables.

In [21]:

my_tuple = (1, 2, 3)

x, y, z = my_tuple

print("x:", x)
print("y:", y)
print("z:", z)

x: 1
y: 2
z: 3

# 51. Tuple Sorting:  sort a tuple of integers in ascending order.

In [1]:

numbers = (4, 1, 3, 2)

sorted_numbers = tuple(sorted(numbers))

print(sorted_numbers)

(1, 2, 3, 4)

# 52. Tuple Frequency Count: Given a tuple containing various elements,  count the frequency of a specific element in the tuple.

In [2]:

elements = (1, 2, 3, 2, 4, 2, 5)

target_element = 2

frequency = elements.count(target_element)

print(f"The frequency of {target_element} in the tuple is: {frequency}")

The frequency of 2 in the tuple is: 3

# 53. Tuple to List: convert a tuple into a list.

In [3]:

my_tuple = (1, 2, 3, 4, 5)

my_list = list(my_tuple)

print(my_list)

[1, 2, 3, 4, 5]

# 54. Tuple Reversal:  reverse a tuple without using any built-in functions.

In [4]:

original_tuple = (1, 2, 3, 4, 5)

reversed_tuple = ()
for i in range(len(original_tuple) - 1, -1, -1):
    reversed_tuple += (original_tuple[i],)

print(reversed_tuple)

(5, 4, 3, 2, 1)

# 55.Tuple Slicing: Given a tuple,  extract a slice of elements from it.

In [5]:

my_tuple = (10, 20, 30, 40, 50, 60)

sliced_tuple = my_tuple[1:4]

print(sliced_tuple)

(20, 30, 40)

# 56. Tuple Operations: Given two tuples of integers,  perform element-wise addition, subtraction, and multiplication and create new tuples for each operation.

In [6]:

tuple1 = (1, 2, 3, 4)
tuple2 = (5, 6, 7, 8)

addition_result = tuple(a + b for a, b in zip(tuple1, tuple2))

subtraction_result = tuple(a - b for a, b in zip(tuple1, tuple2))

multiplication_result = tuple(a * b for a, b in zip(tuple1, tuple2))

print("Addition Result:", addition_result)
print("Subtraction Result:", subtraction_result)
print("Multiplication Result:", multiplication_result)

Addition Result: (6, 8, 10, 12)
Subtraction Result: (-4, -4, -4, -4)
Multiplication Result: (5, 12, 21, 32)

# 57. Tuple Membership Test:takes an element as input and checks if it exists in a given tuple.

In [7]:

my_tuple = (10, 20, 30, 40, 50)

element = int(input("Enter an element to check: "))

if element in my_tuple:
    print(f"{element} exists in the tuple.")
else:
    print(f"{element} does not exist in the tuple.")

Enter an element to check:  29

29 does not exist in the tuple.

# 58. Tuple Packing:  pack three variables into a single tuple and print the tuple.

In [8]:

a = 10
b = 20
c = 30

packed_tuple = (a, b, c)

print("Packed Tuple:", packed_tuple)

Packed Tuple: (10, 20, 30)

# 59. Nested List Element Access: Given a nested list,  access and print specific elements from it.

In [9]:

nested_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9, [10, 11, 12]]
]


first_element = nested_list[0][0]  
second_element = nested_list[1][1]  
nested_element = nested_list[2][3][1] 
print("First element:", first_element)
print("Second element:", second_element)
print("Nested element:", nested_element)

First element: 1
Second element: 5
Nested element: 11

# 60. Nested List Flattening: Write a Python program to flatten a nested list and convert it into a single-dimensional list.

In [2]:
def flatten(nested_list):
    flat_list = []
    for item in nested_list:
        if isinstance(item, list):
            flat_list.extend(flatten(item))
        else:
            flat_list.append(item)
    return flat_list

nested_list = [1, [2, 3], [4, [5, 6]], 7]
print(flatten(nested_list))

[1, 2, 3, 4, 5, 6, 7]

# 61.  Nested List Sorting: Given a nested list containing lists of integers, to sort the sublists based on their lengths.

In [10]:

nested_list = [
    [1, 2, 3],
    [4, 5],
    [7, 8, 9, 10],
    [6]
]


sorted_nested_list = sorted(nested_list, key=len)

print("Sorted Nested List:", sorted_nested_list)

Sorted Nested List: [[6], [4, 5], [1, 2, 3], [7, 8, 9, 10]]

# 62. List of Tuples Conversion: Given a nested list containing tuples of (x, y) coordinates, write a Python program to convert it into a list of x-coordinates and a list of y-coordinates.

In [3]:
nested_list = [(1, 2), (3, 4), (5, 6), (7, 8)]
x_coords = [x for x, y in nested_list]
y_coords = [y for x, y in nested_list]
print("X-coordinates:", x_coords)
print("Y-coordinates:", y_coords)

X-coordinates: [1, 3, 5, 7]
Y-coordinates: [2, 4, 6, 8]

# 63. Matrix Transpose:  to transpose a given matrix represented as a nested list.

In [57]:

matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]


transposed_matrix = [[0 for _ in range(len(matrix))] for _ in range(len(matrix[0]))]

for i in range(len(matrix)):
    for j in range(len(matrix[0])):
        transposed_matrix[j][i] = matrix[i][j]

print("Transposed Matrix using Nested Loops:")
for row in transposed_matrix:
    print(row)

Transposed Matrix using Nested Loops:
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

# 64.  Nested List Concatenation: Given a list of nested lists, to concatenate all the sublists into a single flat list.

In [56]:

nested_list = [
    [1, 2, 3],
    [4, 5],
    [6, 7, 8, 9]
]


flat_list = [item for sublist in nested_list for item in sublist]

print("Flat List:", flat_list)

Flat List: [1, 2, 3, 4, 5, 6, 7, 8, 9]

# 65. Count Even Numbers:  to count the number of even numbers in a nested list.

In [11]:

nested_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9, 10]
]


even_count = 0

for sublist in nested_list:
    for item in sublist:
        if item % 2 == 0:
            even_count += 1

print("Number of even numbers in the nested list:", even_count)

Number of even numbers in the nested list: 5

# 66.  Maximum Element in Nested List: find the maximum element in a nested list of integers.

In [4]:

nested_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9, 10]
]


flat_list = [item for sublist in nested_list for item in sublist]


max_element = max(flat_list)

print("Maximum element in the nested list:", max_element)

Maximum element in the nested list: 10

# 67. Diagonal Sum of Matrix: Given a square matrix represented as a nested list, calculate the sum of the elements in the main diagonal.

In [12]:

matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]


diagonal_sum = 0
for i in range(len(matrix)):
    diagonal_sum += matrix[i][i]

print("Sum of the main diagonal elements:", diagonal_sum)

Sum of the main diagonal elements: 15

# 68. Nested List Element Search:   search for a specific element in a nested list and return its position (row and column indices).

In [13]:

nested_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]


target_element = 5


def find_element_position(nested_list, target_element):
    for row_index, row in enumerate(nested_list):
        for col_index, element in enumerate(row):
            if element == target_element:
                return (row_index, col_index)
    return None


position = find_element_position(nested_list, target_element)

if position:
    print(f"Element {target_element} found at position: {position}")
else:
    print(f"Element {target_element} not found in the nested list.")

Element 5 found at position: (1, 1)

# 69. Duplicate Removal:  takes a list of elements as input and creates a new set containing only the unique elements from the list.

In [1]:
def remove_duplicates(input_list):
   
    unique_elements = set(input_list)
    return unique_elements


input_list = [1, 2, 3, 2, 4, 8, 9, 1, 7, 6, 4, 5]
unique_set = remove_duplicates(input_list)
print("Unique elements:", unique_set)

Unique elements: {1, 2, 3, 4, 5, 6, 7, 8, 9}

# 70. Set Intersection: Given two sets A and B,  find their intersection and print the common elements.

In [2]:
def find_intersection(set_a, set_b):
   
    intersection = set_a.intersection(set_b)
    return intersection


set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}
common_elements = find_intersection(set_a, set_b)
print("Common elements:", common_elements)

Common elements: {4, 5}

# 71. Set Union: Given two sets A and B,find their union and print all the distinct elements from both sets.

In [3]:
def find_union(set_a, set_b):
   
    union_set = set_a.union(set_b)
    return union_set


set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}
distinct_elements = find_union(set_a, set_b)
print("Distinct elements:", distinct_elements)

Distinct elements: {1, 2, 3, 4, 5, 6, 7, 8}

# 72. Set Difference: Given two sets A and B,  find the difference between set A and set B (i.e., elements present in A but not in B) and print the result.

In [4]:
def find_difference(set_a, set_b):
    
    difference = set_a.difference(set_b)
    return difference


set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}
difference = find_difference(set_a, set_b)
print("Elements in set A but not in set B:", difference)

Elements in set A but not in set B: {1, 2, 3}

# 73. Set Symmetric Difference: Given two sets A and B,  find the symmetric difference between the two sets (i.e., elements that are present in either set A or set B, but not in both) and print the result.

In [7]:
def find_symmetric_difference(set_a, set_b):

    symmetric_difference = set_a.symmetric_difference(set_b)
    return symmetric_difference


set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}
symmetric_diff = find_symmetric_difference(set_a, set_b)
print("Symmetric difference:", symmetric_diff)

Symmetric difference: {1, 2, 3, 6, 7, 8}

# 74. Set Operations: Given three sets A, B, and C,  find and print the intersection of A and B, the union of B and C, and the difference between C and A.

In [5]:
def set_operations(set_a, set_b, set_c):
   
    intersection_ab = set_a.intersection(set_b)
    
  
    union_bc = set_b.union(set_c)
    
  
    difference_ca = set_c.difference(set_a)
    
    return intersection_ab, union_bc, difference_ca

set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}
set_c = {1, 3, 5, 7, 9}

intersection_ab, union_bc, difference_ca = set_operations(set_a, set_b, set_c)

print("Intersection of A and B:", intersection_ab)
print("Union of B and C:", union_bc)
print("Difference between C and A:", difference_ca)

Intersection of A and B: {4, 5}
Union of B and C: {1, 3, 4, 5, 6, 7, 8, 9}
Difference between C and A: {9, 7}

# 75. Set Subset Check: Given two sets A and B,  check if set A is a subset of set B and print the result.

In [6]:
def is_subset(set_a, set_b):
    
    return set_a.issubset(set_b)


set_a = {1, 2, 3}
set_b = {1, 2, 3, 4, 5}
result = is_subset(set_a, set_b)
print("Is set A a subset of set B?", result)

Is set A a subset of set B? True

# 76. Set Superset Check: Given two sets A and B,  check if set A is a superset of set B and print the result.

In [8]:
def is_superset(set_a, set_b):
    
    return set_a.issuperset(set_b)


set_a = {1, 2, 3, 4, 5}
set_b = {1, 2, 3}
result = is_superset(set_a, set_b)
print("Is set A a superset of set B?", result)

Is set A a superset of set B? True

# 77. Set Length Check: takes a set as input and prints the number of elements in the set.

In [9]:
def print_set_length(input_set):
    
    length = len(input_set)
    print("Number of elements in the set:", length)


example_set = {1, 2, 3, 4, 5}
print_set_length(example_set)

Number of elements in the set: 5

#  Set Membership Test:  takes an element as input and checks if it exists in a given set. Print “Found” if the element is present and “Not Found” otherwise.

In [10]:
def check_membership(element, input_set):
   
    if element in input_set:
        print("Found")
    else:
        print("Not Found")


input_set = {1, 2, 3, 4, 5}
element_to_check = 3
check_membership(element_to_check, input_set)

Found

# Dictionary Manipulation: Given a dictionary with student names as keys and their corresponding scores as values,  add a new student to the dictionary and update the score of an existing student.

In [11]:
def update_student_scores(student_dict, new_student, new_score, existing_student, updated_score):

    student_dict[new_student] = new_score
    
   
    if existing_student in student_dict:
        student_dict[existing_student] = updated_score
    else:
        print(f"Student {existing_student} not found in the dictionary.")
    
    return student_dict


students = {
    "Alice": 85,
    "Bob": 90,
    "Charlie": 78
}


updated_students = update_student_scores(students, "David", 92, "Alice", 88)

print("Updated student scores:", updated_students)

Updated student scores: {'Alice': 88, 'Bob': 90, 'Charlie': 78, 'David': 92}

# 78. Dictionary Keys and Values:  takes a dictionary as input and prints all the keys and values in separate lines.

In [12]:
def print_keys_and_values(input_dict):
    
    for key, value in input_dict.items():
        print(f"{key}: {value}")


example_dict = {
    "Alice": 85,
    "Bob": 90,
    "Charlie": 78
}

print_keys_and_values(example_dict)

Alice: 85
Bob: 90
Charlie: 78

# 79. Dictionary Length: calculate and print the number of key-value pairs in a given dictionary.

In [13]:
def print_dict_length(input_dict):
  
    length = len(input_dict)
    print("Number of key-value pairs in the dictionary:", length)


example_dict = {
    "Alice": 85,
    "Bob": 90,
    "Charlie": 78
}

print_dict_length(example_dict)

Number of key-value pairs in the dictionary: 3

# 80. Dictionary Value Search: Given a dictionary of items and their prices, search for an item based on its price and print the item’s name.

In [14]:
def find_item_by_price(price, item_dict):
    
    for item, item_price in item_dict.items():
        if item_price == price:
            return item
    return "Item not found"


items = {
    "apple": 1.5,
    "banana": 0.75,
    "cherry": 2.0,
    "date": 3.0
}

price_to_search = 2.0
item_name = find_item_by_price(price_to_search, items)
print("Item with price", price_to_search, "is:", item_name)

Item with price 2.0 is: cherry

# 81. Dictionary Merging: Given two dictionaries,  merge them into a single dictionary and print the result.

In [15]:
def merge_dicts(dict1, dict2):
    for key, value in dict2.items():
        dict1[key] = value
    return dict1

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
merged_dict = merge_dicts(dict1, dict2)
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

# 82. Dictionary Key Removal: Given a dictionary of items and their quantities, remove a specific item from the dictionary based on user input.

In [16]:
def remove_item(dictionary, item):
    if item in dictionary:
        del dictionary[item]
        print(f"Item '{item}' removed.")
    else:
        print(f"Item '{item}' not found in the dictionary.")
    return dictionary


inventory = {'apples': 10, 'bananas': 5, 'oranges': 8}


item_to_remove = input("Enter the item to remove: ")


updated_inventory = remove_item(inventory, item_to_remove)
print("Updated inventory:", updated_inventory)

Enter the item to remove:  apples

Item 'apples' removed.
Updated inventory: {'bananas': 5, 'oranges': 8}

# 83. Dictionary Sorting: Given a dictionary with names as keys and corresponding ages as values,   sort the dictionary based on age in ascending order.

In [17]:
def sort_by_age(dictionary):
   
    sorted_dict = dict(sorted(dictionary.items(), key=lambda item: item[1]))
    return sorted_dict


people = {'Alice': 30, 'Bob': 25, 'Charlie': 35, 'David': 20}


sorted_people = sort_by_age(people)
print("Sorted dictionary:", sorted_people)

Sorted dictionary: {'David': 20, 'Bob': 25, 'Alice': 30, 'Charlie': 35}

# 84. Dictionary Frequency Count:  takes a string as input and creates a dictionary containing each character as a key and its frequency as the value.

In [18]:
def char_frequency(input_string):
    frequency_dict = {}
    for char in input_string:
        if char in frequency_dict:
            frequency_dict[char] += 1
        else:
            frequency_dict[char] = 1
    return frequency_dict


input_string = input("Enter a string: ")
result = char_frequency(input_string)
print("Character frequency:", result)

Enter a string:  I am tired

Character frequency: {'I': 1, ' ': 3, 'a': 1, 'm': 1, 't': 1, 'i': 1, 'r': 1, 'e': 1, 'd': 1}

# 85. Dictionary Comprehension: Given a list of integers,  create a dictionary where the keys are the elements from the list, and the values are their squares.

In [19]:
def create_square_dict(numbers):
    return {num: num**2 for num in numbers}


numbers = [1, 2, 3, 4, 5]


square_dict = create_square_dict(numbers)
print("Dictionary of numbers and their squares:", square_dict)

Dictionary of numbers and their squares: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

# 86. Dictionary Key Check: takes a key as input and checks if it exists in a given dictionary. Print “Key Found” if the key is present and “Key Not Found” otherwise.

In [20]:
def check_key_exists(dictionary, key):
    if key in dictionary:
        print("Key Found")
    else:
        print("Key Not Found")

sample_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}


key_to_check = input("Enter the key to check: ")


check_key_exists(sample_dict, key_to_check)

Enter the key to check:  Roll

Key Not Found

# 87. Access Nested Dictionary: Given a nested dictionary containing student details,  access and print specific information such as a student’s name, age, and address.

In [22]:
def get_student_details(students, student_id):
    if student_id in students:
        student = students[student_id]
        name = student.get('name', 'N/A')
        age = student.get('age', 'N/A')
        address = student.get('address', 'N/A')
        print(f"Name: {name}")
        print(f"Age: {age}")
        print(f"Address: {address}")
    else:
        print("Student ID not found.")


students = {
    101: {'name': 'Alice', 'age': 23, 'address': '123 Maple St'},
    102: {'name': 'Bob', 'age': 24, 'address': '456 Oak St'},
    103: {'name': 'Charlie', 'age': 22, 'address': '789 Pine St'}
}


student_id = int(input("Enter the student ID: "))


get_student_details(students, student_id)

Enter the student ID:  501

Student ID not found.

# 88. Nested Dictionary Length:  calculate and print the total number of key-value pairs in a nested dictionary.

In [55]:
def count_key_value_pairs(nested_dict):
    count = 0
    for key, value in nested_dict.items():
        if isinstance(value, dict):
            count += count_key_value_pairs(value)
        else:
            count += 1
    return count


nested_dict = {
    'student1': {'name': 'Alice', 'age': 23, 'address': '123 Maple St'},
    'student2': {'name': 'Bob', 'age': 24, 'address': '456 Oak St'},
    'student3': {'name': 'Charlie', 'age': 22, 'address': '789 Pine St'}
}


total_pairs = count_key_value_pairs(nested_dict)
print("Total number of key-value pairs:", total_pairs)

Total number of key-value pairs: 9

# 89. Nested Dictionary Update: Given a nested dictionary of employee details, update an employee’s salary based on their employee ID.

In [54]:
def update_salary(employees, emp_id, new_salary):
    if emp_id in employees:
        employees[emp_id]['salary'] = new_salary
        print(f"Salary updated for employee ID {emp_id}.")
    else:
        print(f"Employee ID {emp_id} not found.")
    return employees


employees = {
    101: {'name': 'Alice', 'age': 30, 'salary': 50000},
    102: {'name': 'Bob', 'age': 25, 'salary': 45000},
    103: {'name': 'Charlie', 'age': 35, 'salary': 55000}
}


emp_id = int(input("Enter the employee ID: "))
new_salary = float(input("Enter the new salary: "))


updated_employees = update_salary(employees, emp_id, new_salary)
print("Updated employee details:", updated_employees)

Enter the employee ID:  234
Enter the new salary:  50000

Employee ID 234 not found.
Updated employee details: {101: {'name': 'Alice', 'age': 30, 'salary': 50000}, 102: {'name': 'Bob', 'age': 25, 'salary': 45000}, 103: {'name': 'Charlie', 'age': 35, 'salary': 55000}}

# 90. Nested Dictionary Sorting: Given a nested dictionary containing product details (product name, price, and quantity),  sort the products based on their prices in ascending order.

In [53]:
def sort_products_by_price(products):
    
    sorted_products = dict(sorted(products.items(), key=lambda item: item[1]['price']))
    return sorted_products


products = {
    'product1': {'name': 'Laptop', 'price': 800, 'quantity': 10},
    'product2': {'name': 'Smartphone', 'price': 600, 'quantity': 15},
    'product3': {'name': 'Tablet', 'price': 300, 'quantity': 20},
    'product4': {'name': 'Monitor', 'price': 200, 'quantity': 5}
}


sorted_products = sort_products_by_price(products)
print("Sorted products by price:", sorted_products)

Sorted products by price: {'product4': {'name': 'Monitor', 'price': 200, 'quantity': 5}, 'product3': {'name': 'Tablet', 'price': 300, 'quantity': 20}, 'product2': {'name': 'Smartphone', 'price': 600, 'quantity': 15}, 'product1': {'name': 'Laptop', 'price': 800, 'quantity': 10}}

# 91. Nested Dictionary Key Search:  takes a key as input and searches for it in a nested dictionary. If found, print the corresponding value, otherwise, print “Key Not Found.”

In [52]:
         
def find_key_in_nested_dict(nested_dict, key):
    if key in nested_dict:
        print(nested_dict[key])
        return True
    for k, v in nested_dict.items():
        if isinstance(v, dict):
            if find_key_in_nested_dict(v, key):
                return True
    print("Key Not Found")
    return False


nested_dict = {
    'a': 1,
    'b': {
        'c': 2,
        'd': {
            'e': 3
        }
    }
}

find_key_in_nested_dict(nested_dict, 'e')  
find_key_in_nested_dict(nested_dict, 'f')

3
Key Not Found
Key Not Found
Key Not Found

False

# 92. Prime Number Checker: takes a number as input and determines if it is a prime number or not. Use a `for` loop to check for factors. If a factor is found, `break` out of the loop.

In [26]:
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, number):
        if number % i == 0:
            return False
    return True


num = int(input("Enter a number: "))


if is_prime(num):
    print(f"{num} is a prime number.")
else:
    print(f"{num} is not a prime number.")

Enter a number:  34

34 is not a prime number.

# 93. Even Number Printer: print all even numbers from 1 to 20. Use a `for` loop and `continue` to skip odd numbers.

In [27]:
for num in range(1, 21):
    if num % 2 != 0:
        continue
    print(num)

2
4
6
8
10
12
14
16
18
20

# 94. Password Validator:  takes a password as input and checks if it meets the following criteria: at least 8 characters long, contains both uppercase and lowercase letters, and has at least one digit. If the password is valid, print “Password accepted.” If not, use `continue` to prompt the user to enter a valid password.

In [38]:
def is_valid_password(password):
    if len(password) < 8:
        return False
    if not any(char.isdigit() for char in password):
        return False
    if not any(char.isupper() for char in password):
        return False
    if not any(char.islower() for char in password):
        return False
    return True

while True:
    password = input("Enter a password: ")
    if is_valid_password(password):
        print("Password accepted.")
        break
    else:
        print("Invalid password. Please try again.")
        continue
        
        #break

Enter a password:  moalis

Invalid password. Please try again.

Enter a password:  monalisa2

Invalid password. Please try again.

Enter a password:  Monalisa5

Password accepted.

# 95. Divisible by 3 or 5: print all numbers from 1 to 50 that are divisible by either 3 or 5. Use a `for` loop and `continue` to skip numbers that are not divisible by either 3 or 5.

In [1]:
for num in range(1, 51):
    if num % 3 != 0 and num % 5 != 0:
        continue
    print(num)

3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50

# 96. Positive Number Sum:  takes positive numbers as input until a negative number is entered. Then, calculate and print the sum of all positive numbers entered. Use a `while` loop and `break` to exit the loop when a negative number is encountered.

In [34]:
def sum_positive_numbers():
    total_sum = 0
    while True:
        number = float(input("Enter a positive number (or a negative number to stop): "))
        if number < 0:
            break
        total_sum += number
    return total_sum


sum_of_numbers = sum_positive_numbers()
print("Sum of all positive numbers entered:", sum_of_numbers)

Enter a positive number (or a negative number to stop):  59
Enter a positive number (or a negative number to stop):  90
Enter a positive number (or a negative number to stop):  -4

Sum of all positive numbers entered: 149.0

# 97. Word Palindrome Checker:  takes a word as input and checks if it is a palindrome (reads the same forwards and backward). Use `continue` to skip checking the word if its length is less than 3 characters.

In [3]:
def is_palindrome(word):
    return word == word[::-1]

while True:
    word = input("Enter a word: ")
    if len(word) < 3:
        print("Word is too short, please enter a word with at least 3 characters.")
        continue
    if is_palindrome(word):
        print(f"'{word}' is a palindrome.")
    else:
        print(f"'{word}' is not a palindrome.")
    break

Enter a word:  ipeipo

'ipeipo' is not a palindrome.

# 98. Odd Number Finder:  find the first odd number from a list of integers. Use a `for` loop and `break` to stop the loop when the first odd number is found.

In [4]:
def find_first_odd(numbers):
    for num in numbers:
        if num % 2 != 0:
            return num
    return None


numbers = [2, 4, 6, 8, 10, 11, 14, 17]

# Find the first odd number
first_odd = find_first_odd(numbers)
if first_odd is not None:
    print(f"The first odd number is: {first_odd}")
else:
    print("No odd number found in the list.")

The first odd number is: 11

# 99. Number Guessing Game: generates a random number between 1 and 100 and lets the user guess the number. Use a `while` loop, `break` when the correct number is guessed, and `continue` to keep prompting the user until they guess correctly.

In [ ]:
import random

def number_guessing_game():
    number_to_guess = random.randint(1, 100)
    while True:
        try:
            guess = int(input("Guess the number (between 1 and 100): "))
            if guess < 1 or guess > 100:
                print("Please enter a number between 1 and 100.")
                continue
            if guess < number_to_guess:
                print("Too low! Try again.")
            elif guess > number_to_guess:
                print("Too high! Try again.")
            else:
                print("Congratulations! You guessed the correct number.")
                break
        except ValueError:
            print("Invalid input. Please enter a valid number.")


number_guessing_game()

Guess the number (between 1 and 100):  98

Too high! Try again.

Guess the number (between 1 and 100):  50

Too high! Try again.

Guess the number (between 1 and 100):  20

Too low! Try again.

Guess the number (between 1 and 100):  39

Too high! Try again.

Guess the number (between 1 and 100):  29

Too low! Try again.

Guess the number (between 1 and 100):  36

Too high! Try again.

Guess the number (between 1 and 100):  31

Too low! Try again.

Guess the number (between 1 and 100):  33

Too high! Try again.

Guess the number (between 1 and 100):  25

Too low! Try again.

Guess the number (between 1 and 100):  27

Too low! Try again.

# 100. Vowel Counter: takes a string as input and counts the number of vowels (a, e, i, o, u) in it. Use a `for` loop and `continue` to skip counting non-vowel characters.

In [1]:
def count_vowels(input_string):
    vowels = "aeiouAEIOU"
    count = 0
    for char in input_string:
        if char not in vowels:
            continue
        count += 1
    return count


input_string = input("Enter a string: ")
vowel_count = count_vowels(input_string)
print(f"The number of vowels in the string is: {vowel_count}")

Enter a string:  It is time to focus on after life

The number of vowels in the string is: 12

# 102. Factorial Calculator: Write a Python function called `factorial` that takes an integer as input and returns its factorial. Test the function with different values.

In [2]:

def factorial(n):
    if n < 0:
        return "Factorial is not defined for negative numbers."
    elif n == 0 or n == 1:
        return 1
    else:
        result = 1
        for i in range(2, n + 1):
            result *= i
        return result

print(factorial(5))  
print(factorial(0))  
print(factorial(-3))

120
1
Factorial is not defined for negative numbers.

# 103. Palindrome Checker: Write a Python function called `is_palindrome` that takes a string as input and returns `True` if it is a palindrome and `False` otherwise. Test the function with different words.

In [32]:
def is_palindrome(s):
    # Convert the string to lowercase and remove spaces
    s = s.lower().replace(" ", "")
    # Check if the string is equal to its reverse
    return s == s[::-1]


print(is_palindrome("radar"))      
print(is_palindrome("hello"))      
print(is_palindrome("A man a plan a canal Panama"))

True
False
True

# 104. Even or Odd Checker: Write a Python function called `even_or_odd` that takes an integer as input and returns “Even” if the number is even and “Odd” if the number is odd. Test the function with different numbers.

In [31]:
def even_or_odd(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"

num=int(input("enter any number"))

print(even_or_odd(num ))  
print(even_or_odd(7))   
print(even_or_odd(0))

enter any number -65

Odd
Odd
Even

# 105. List Sum Calculator: Write a Python function called `list_sum` that takes a list of integers as input and returns the sum of all elements in the list. Test the function with different lists.

In [30]:
def list_sum(numbers):
    total = 0
    for num in numbers:
        total += num
    return total


print(list_sum([1, 2, 3, 4, 5]))  
print(list_sum([10, -2, 3, 7]))   
print(list_sum([]))

15
18
0

# 106. Greatest Common Divisor (GCD) Calculator: Write a Python function called `gcd` that takes two integers as input and returns their greatest common divisor. Test the function with different pairs of numbers.

In [29]:
def gcd(a, b):
    while b:
        a, b = b, a % b
    return abs(a)

num1=int(input("enter the number1:"))
num2=int(input("enter the number2:"))

print(gcd(num1,num2)) 
print(gcd(101, 10))

enter the number1: 5
enter the number2: 6

1
1

# 107. Leap Year Checker: Write a Python function called `is_leap_year` that takes a year as input and returns `True` if it is a leap year and `False` otherwise. Test the function with different years.

In [26]:
def is_leap_year(year):
    return (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)

year=int(input("enter any year:"))

print(is_leap_year(year))  
print(is_leap_year(1900))  
print(is_leap_year(2000))  
print(is_leap_year(2023))

enter any year: 2050

False
False
True
False

# 108. Math Operations: Write a Python function called `math_operations` that takes three numbers and a string representing an operation (‘add’, ‘subtract’, ‘multiply’, or ‘divide’). The function should return the result of the specified operation on the three numbers. Implement the math operations as nested functions.

In [25]:
def math_operations(a, b, c, operation):
    def add(x, y, z):
        return x + y + z

    def subtract(x, y, z):
        return x - y - z

    def multiply(x, y, z):
        return x * y * z

    def divide(x, y, z):
        if y == 0 or z == 0:
            return "Division by zero is not allowed."
        return x / y / z

    if operation == 'add':
        return add(a, b, c)
    elif operation == 'subtract':
        return subtract(a, b, c)
    elif operation == 'multiply':
        return multiply(a, b, c)
    elif operation == 'divide':
        return divide(a, b, c)
    else:
        return "Invalid operation."

num1=int(input("enter the number1:"))
num2=int(input("enter the number2:"))
num3=int(input("enter the number3:"))
oper=input("enter operation to perform:")

print(math_operations(num1, num2,num3, oper))

enter the number1: 3
enter the number2: 5
enter the number3: 4
enter operation to perform: multiply

60

# 109. Greeting Generator: Write a Python function called `greeting_generator` that takes a name as input and returns a greeting message using nested functions. The greeting message should be customizable (e.g., “Hello, {name}! How are you today?”).

In [22]:
def greeting_generator(name):
    def greeting_message():
        return f"Hello, {name}! How are you today?"

    return greeting_message()

nam=input("Give your Name:")

print(greeting_generator(nam))

Give your Name: Monalisa

Hello, Monalisa! How are you today?

# 110. Temperature Converter: Write a Python function called `temperature_converter` that takes a temperature value and a string representing the scale (‘C’ for Celsius or ‘F’ for Fahrenheit) as input. The function should convert the temperature from one scale to the other using nested functions and return the converted value.

In [21]:
def temperature_converter(value, scale):
    def celsius_to_fahrenheit(c):
        return (c * 9/5) + 32

    def fahrenheit_to_celsius(f):
        return (f - 32) * 5/9

    if scale == 'C':
        return celsius_to_fahrenheit(value)
    elif scale == 'F':
        return fahrenheit_to_celsius(value)
    else:
        return "Invalid scale. Use 'C' for Celsius or 'F' for Fahrenheit."
tem=float(input("Give value of the temperature"))
scale=input("Give scale of temperature")
print(temperature_converter(tem,scale))

Give value of the temperature 33.5
Give scale of temperature C

92.3

# 111. Factorial Calculation: Write a recursive Python function called `factorial` that takes a non-negative integer as input and returns its factorial.

In [18]:
def factorial(n):
    if n < 0:
        return "Factorial is not defined for negative numbers."
    elif n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

num=int(input("enter the positive number"))
print(factorial(num))

enter the positive number 5

120

# 112. Fibonacci Series: Write a recursive Python function called `Fibonacci` that takes an integer N as input and returns the Nth number in the Fibonacci series. The Fibonacci series is defined as follows: F(0) = 0, F(1) = 1, and F(n) = F(n-1) + F(n-2) for n > 1.

In [15]:
def Fibonacci(n):
    if n <= 0:
        return 0
    elif n == 1:
        return 1
    else:
        return Fibonacci(n - 1) + Fibonacci(n - 2)

number=int(input(" enter the  positive number"))
print(Fibonacci(number))

 enter the  positive number 3

2

# 113. The sum of Digits: Write a recursive Python function called `sum_of_digits` that takes an integer as input and returns the sum of its digits.

In [12]:
def sum_of_digits(n):
    if n < 0:
        return "Sum of digits is not defined for negative numbers."
    elif n == 0:
        return 0
    else:
        return n % 10 + sum_of_digits(n // 10)


print(sum_of_digits(12345))  
print(sum_of_digits(456))    
print(sum_of_digits(0))      
print(sum_of_digits(-123))

15
15
0
Sum of digits is not defined for negative numbers.

# 114. Binary Search: Write a recursive Python function called `binary_search` that takes a sorted list and a target value as input and returns the index of the target value in the list using binary search. If the target value is not in the list, return -1.

In [11]:
def binary_search(arr, target, low, high):
    if high >= low:
        mid = (high + low) // 2
        if arr[mid] == target:
            return mid
        elif arr[mid] > target:
            return binary_search(arr, target, low, mid - 1)
        else:
            return binary_search(arr, target, mid + 1, high)
    else:
        return -1

sorted_list = [2, 3, 4, 10, 40]
target = int(input("enter the target value:"))

result = binary_search(sorted_list, target, 0, len(sorted_list) - 1)

print(f"Element is present at index {result}" if result != -1 else "Element is not present in array")

enter the target value: 9

Element is not present in array

# 115. Power Calculation: Write a recursive Python function called `power` that takes two positive integers, base and exponent, as input and returns the value of base raised to the exponent

In [10]:
def power(base, exponent):
    if exponent == 0:
        return 1
    else:
        return base * power(base, exponent - 1)

base= int( input("enter the base:"))
expo=int(input("enter the power:"))

print(power(base,expo))

enter the base: 4
enter the power: 3

64